<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Deck</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="orange lighten-5">
    <nav class="nav-mobile">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    {{#if loggedIn}}
                    <a href="/user-page" class="btn">your profile</a>
                    <a id="logout" class="btn">logout</a>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}}
                </div>>
            </div>
        </div>
    </nav>

    <div class=section>
        {{{body}}}
    </div>

    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>